# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Django
db.sqlite3
media/

# Node / Next.js
node_modules/
.pnpm-store/
.next/
out/

# Logs
*.log

# OS
.DS_Store

# Docker
*.pid

# IDE
.vscode/
.idea/

# pgAdmin / data
*.sqlite3