:root {
  --bg-primary: #b3b3b3;
  --bg-primary-gradient: linear-gradient(to top right, var(--bg-primary), #d4f0ff);
  --bg-secondary: #2a2f31;
  --bg-secondary-gradient: linear-gradient(to top right, var(--bg-secondary), #000000);
  --txt-primary: black;
  --txt-secondary: white;
  --primary-color: #ff4400;
  --primary-color-op1: rgba(255, 107, 53, 0.2);
  --primary-color-op2: rgba(255, 107, 53, 0.4);
}

[data-theme="dark"] {
  --bg-primary: #0a1114;
  --bg-primary-gradient: linear-gradient(to top right, var(--bg-primary), #1c1d1d);
  --bg-secondary: #0c161b;
  --bg-secondary-gradient: linear-gradient(to top right, var(--bg-secondary), #143b4d);
  --txt-primary: white;
  --txt-secondary: white;
  --primary-color: #ff6b35;
  --primary-color-op1: rgba(255, 107, 53, 0.1);
  --primary-color-op2: rgba(255, 107, 53, 0.3);
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    background-image 0.3s ease,
    color 0.3s ease;
  color-scheme: light dark;
}

body {
  color: var(--txt-primary);
  background-color: var(--bg-primary);
  background-image: var(--bg-primary-gradient);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
